


/* Here i add base style + any css reset if any */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--color-gray-700);
  background-color: var(--color-white);

  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Application Navigation */
header { position: relative; z-index: 10;  }
.nav a { font-weight: 500; }
#menu-toggle:checked ~ #mobile-menu { max-height: 500px; }
#mobile-menu { transition: max-height var(--transition-medium) ease-in-out; }

/* Button */
.btn {
  display: inline-block;
  padding: var(--space-4) var(--space-6);
  font-weight: 600;
  text-align: center;
  border-radius: var(--rounded-md);
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn-primary:hover {
  background-color: var(--color-primary-dark);
}




/* === Buttons & Inputs for footer=== */
.input {
 border: 1px solid #ccc;
 background-color: #fff;
 font-size: 0.875rem;
 border-radius: 9999px;
 outline: none;
 transition: border 0.2s ease;
}

.input:focus {
 border-color: #333;
}

.btn-light {
 background-color: #fff;
 color: #000;
}

.btn-light:hover {
 background-color: #f0f0f0;
}



.carousel img { display: block; }

.w-200{width: 200px}
.h-200{height:200px}
.contain{object-fit:contain;}


/* Cards for featured sections */

.card {
  background: #1a1a1a;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}




/* Steps styling */
.step {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.step-number {
  background: #000;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

